# Ignore Python cache
__pycache__/
*.pyc

# Ignore environments
venv/

# Ignore audio and intermediate data
*.wav
*.npy
*.h5

# Ignore system files
.DS_Store

# Optional: ignore logs or temp
*.log
*.zip
*.npy
*.wav
*.h5
*.mp3
backend/data/spectrograms/
backend/data/raw_audio/
